<h1 align='center'>Create your first dashboard using Dash and Plotly</h1>

<h2 align='center'>Vancouver Datajam 2021</h2>

<h2 align='center'>Laura Gutierrez Funderburk</h2>

<h2 align='center'>Hanh Tong</h2>

<h2 align='center'>Introductions</h2>

<h2 align='center'>About Laura</h2>

<h2 align='center'>About Hanh</h2>

<h2 align='center'>Workshop schedule</h2>

* Part I (1.5 hours)
    1. Introduction to the dataset and the question we are addressing
    2. Visualizing data with Plotly
    3. Code refactoring: scripting
    4. Run script to generate visualizations

<h2 align='center'>Workshop schedule</h2>

* Part II (1.5 hours)
    1. Introduction to layouts
    2. Tools for designing layouts 
    3. Implementing layout using code
    4. Test dashboard locally
    5. Engineering check: files needed to move to production
    6. Deploying dashboard

<h2 align='center'>Part I: exploring the data</h2>

In [4]:
import pandas as pd
import pathlib
import plotly.express as px
import sys
sys.path.append(r'./scripts/')
import data_cleaning

In [10]:
# Read data
data = r'./data/'
merged_filename = "delinquency_mortgage_population_2021_2020.csv"
data_pop_del_mort = pathlib.Path(data, merged_filename)

# Format data as a pandas dataframe

data_pop_del_mort_df  = pd.read_csv(data_pop_del_mort)

In [11]:
data_pop_del_mort_df.head()

,Unnamed: 0,Geography,Time,DelinquencyRate,AverageMortgageAmount,PopulationSize
0,0,Newfoundland,2012Q3,0.24,188732,526345
1,1,Prince Edward Island,2012Q3,0.57,140279,144530
2,2,Nova Scotia,2012Q3,0.53,174688,943635
3,3,New Brunswick,2012Q3,0.63,133390,758378
4,4,Québec,2012Q3,0.33,159661,8061101

In [12]:
data_pop_del_mort_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             330 non-null    int64
 1   Geography              330 non-null    object
 2   Time                   330 non-null    object
 3   DelinquencyRate        330 non-null    float64
 4   AverageMortgageAmount  330 non-null    int64
 5   PopulationSize         330 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 15.6+ KB

<h2 align='center'>Data cleaning</h2>

In [13]:
# Column cleanup
data_pop_del_mort_df.drop(columns=['Unnamed: 0'], inplace=True)

In [14]:
data_pop_del_mort_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geography              330 non-null    object
 1   Time                   330 non-null    object
 2   DelinquencyRate        330 non-null    float64
 3   AverageMortgageAmount  330 non-null    int64
 4   PopulationSize         330 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 13.0+ KB